In [12]:
import pandas as pd

In [13]:
students = {
    'StudentID': ['1001', '1002', '1003', '1004', '1005', '1006', '1007', '1008', '1009', '1010',
                  '1011', '1012', '1013', '1014', '1015', '1016', '1017', '1018', '1019', '1020'],
    'FirstName': ['Alice', 'Bob', 'Charlie', 'David', 'Emily', 'Frank', 'Grace', 'Henry', 'Isabel', 'John',
                  'Kate', 'Liam', 'Mia', 'Noah', 'Olivia', 'Penelope', 'Quinn', 'Riley', 'Sophia', 'Thomas'],
    'LastName': ['Smith', 'Johnson', 'Brown', 'Jones', 'Garcia', 'Miller', 'Davis', 'Martinez', 'Taylor', 'Anderson',
                 'Wilson', 'Moore', 'Martin', 'Jackson', 'Thompson', 'White', 'Harris', 'Nelson', 'Lee', 'Allen'],
    'Gender': ['Female', 'Male', 'Male', 'Male', 'Female', 'Male', 'Female', 'Male', 'Female', 'Male',
               'Female', 'Male', 'Female', 'Male', 'Female', 'Female', 'Female', 'Male', 'Female', 'Male'],
    'Age': [18, 17, 18, 17, 16, 18, 16, 17, 18, 16,
            16, 17, 17, 16, 16, 18, 16, 18, 17, 18],
    'Math': [95, 85, 92, 78, 88, 90, 85, 90, 92, 85,
             90, 85, 75, 80, 92, 88, 85, 90, 95, 78],
    'Computer Science': [87, 78, 80, 85, 75, 82, 90, 88, 80, 75,
                         92, 90, 85, 78, 80, 85, 75, 82, 90, 88],
    'Sciences': [90, 85, 95, 80, 82, 92, 88, 85, 90, 95,
                 75, 85, 95, 80, 82, 92, 88, 85, 90, 95],
    'English': [95, 88, 92, 85, 90, 82, 88, 85, 80, 92,
                88, 92, 85, 90, 82, 88, 85, 80, 92, 95],
    'GPA': [3.89, 2.99, 3.89, 3.09, 3.31, 3.51, 3.38, 3.28, 3.02, 3.73,
            3.12, 3.21, 2.95, 3.10, 3.15, 3.38, 3.09, 3.27, 3.45, 3.01],
    'Class': ['SS1', 'SS2', 'SS3', 'SS1', 'SS2', 'SS3', 'SS1', 'SS2', 'SS3', 'SS1', 'SS2', 'SS3', 
              'SS1', 'SS2', 'SS3', 'SS1', 'SS2', 'SS3', 'SS1', 'SS2']
}

In [14]:
Student_df = pd.DataFrame(students)

### Adding to a dataframe
Let's say we want to add another column `{'FullName'}` to our dataframe

In [15]:
Student_df['FullName'] = Student_df['FirstName'] + " " + Student_df["LastName"]

In [16]:
Student_df

,StudentID,FirstName,LastName,Gender,Age,Math,Computer Science,Sciences,English,GPA,Class,FullName
0,1001,Alice,Smith,Female,18,95,87,90,95,3.89,SS1,Alice Smith
1,1002,Bob,Johnson,Male,17,85,78,85,88,2.99,SS2,Bob Johnson
2,1003,Charlie,Brown,Male,18,92,80,95,92,3.89,SS3,Charlie Brown
3,1004,David,Jones,Male,17,78,85,80,85,3.09,SS1,David Jones
4,1005,Emily,Garcia,Female,16,88,75,82,90,3.31,SS2,Emily Garcia
5,1006,Frank,Miller,Male,18,90,82,92,82,3.51,SS3,Frank Miller
6,1007,Grace,Davis,Female,16,85,90,88,88,3.38,SS1,Grace Davis
7,1008,Henry,Martinez,Male,17,90,88,85,85,3.28,SS2,Henry Martinez
8,1009,Isabel,Taylor,Female,18,92,80,90,80,3.02,SS3,Isabel Taylor
9,1010,John,Anderson,Male,16,85,75,95,92,3.73,SS1,John Anderson
10,1011,Kate,Wilson,Female,16,90,92,75,88,3.12,SS2,Kate Wilson
11,1012,Liam,Moore,Male,17,85,90,85,92,3.21,SS3,Liam Moore
12,1013,Mia,Martin,Female,17,75,85,95,85,2.95,SS1,Mia Martin
13,1014,Noah,Jackson,Male,16,80,78,80,90,3.10,SS2,Noah Jackson
14,1015,Olivia,Thompson,Female,16,92,80,82,82,3.15,SS3,Olivia Thompson
15,1016,Penelope,White,Female,18,88,85,92,88,3.38,SS1,Penelope White
16,1017,Quinn,Harris,Female,16,85,75,88,85,3.09,SS2,Quinn Harris
17,1018,Riley,Nelson,Male,18,90,82,85,80,3.27,SS3,Riley Nelson
18,1019,Sophia,Lee,Female,17,95,90,90,92,3.45,SS1,Sophia Lee
19,1020,Thomas,Allen,Male,18,78,88,95,95,3.01,SS2,Thomas Allen

### Deleting from a database
Now, we cal delete the `{FirstName}` and `{LastName}` columns since we have their `{FullName}` in out dataframe

In [17]:
Student_df.drop(columns=['FirstName', 'LastName'])

,StudentID,Gender,Age,Math,Computer Science,Sciences,English,GPA,Class,FullName
0,1001,Female,18,95,87,90,95,3.89,SS1,Alice Smith
1,1002,Male,17,85,78,85,88,2.99,SS2,Bob Johnson
2,1003,Male,18,92,80,95,92,3.89,SS3,Charlie Brown
3,1004,Male,17,78,85,80,85,3.09,SS1,David Jones
4,1005,Female,16,88,75,82,90,3.31,SS2,Emily Garcia
5,1006,Male,18,90,82,92,82,3.51,SS3,Frank Miller
6,1007,Female,16,85,90,88,88,3.38,SS1,Grace Davis
7,1008,Male,17,90,88,85,85,3.28,SS2,Henry Martinez
8,1009,Female,18,92,80,90,80,3.02,SS3,Isabel Taylor
9,1010,Male,16,85,75,95,92,3.73,SS1,John Anderson
10,1011,Female,16,90,92,75,88,3.12,SS2,Kate Wilson
11,1012,Male,17,85,90,85,92,3.21,SS3,Liam Moore
12,1013,Female,17,75,85,95,85,2.95,SS1,Mia Martin
13,1014,Male,16,80,78,80,90,3.10,SS2,Noah Jackson
14,1015,Female,16,92,80,82,82,3.15,SS3,Olivia Thompson
15,1016,Female,18,88,85,92,88,3.38,SS1,Penelope White
16,1017,Female,16,85,75,88,85,3.09,SS2,Quinn Harris
17,1018,Male,18,90,82,85,80,3.27,SS3,Riley Nelson
18,1019,Female,17,95,90,90,92,3.45,SS1,Sophia Lee
19,1020,Male,18,78,88,95,95,3.01,SS2,Thomas Allen

In [18]:
Student_df.loc[:, 1] = Student_df['FullName']